html {font-size: 16px;}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #030F26;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 1.5rem 0 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

.user-input-container {
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-position: center center;
}

.user-input {
    height: 33em;
    padding: 20px;
}

.user-input label {
    color: #fff;
}

.user-input input[type="submit"].btn-block {
    margin-top: 20px;
}

.actor-details-containers {
    background-color: #F2F2F2;
}

#actor-details {
    padding: 70px;
}

.app-headline {
    color: #F2F2F2;
}